<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/css/veryfy.css" type="text/css"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Kumar+One&display=swap" rel="stylesheet">
    <title>My first styled page</title>
  </head>
  <body>
      <div class="container">
        <div class="block_text">
          <img src="https://cdn-icons-png.flaticon.com/512/3388/3388607.png" width="100px"/>
          <div class="head_text">
            <h1>
              Вы успешно зарегистрировались на нашем саите!
            </h1>
          </div>
          <div class="footer_text">
            <p>
              перейдите на наш саит и авторизуйтесь это окно вы можете закрыть
            </p>
          </div>
        </div>
        <div class="glow-button">
          <a class="link" href="https://netlear.ru">перейти на саит</a>
        </div>
      </div>
  </body>
</html>